<!-- <TabBar [barTintColor]="'white'" [tintColor]="tintColor" class="tab" [activeTab]="selectedIndex" [unselectedTintColor]="unselectedTintColor" [tabBarPosition]="topFlag ? 'top' : 'bottom'" (onPress)="tabBarTabOnPress($event)" prerenderingSiblingsNumber="0">
    <TabBarItem [title]="'Life'" [key]="1" [badge]="1" [icon]="icon1" [selectedIcon]="icon11">
        <ng-template #icon1>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template #icon11>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <div style="background-color: white; height: 100%; text-align: center">
            <ng-container>
                <ng-template [ngTemplateOutlet]="feed"></ng-template>
            </ng-container>
        </div>
    </TabBarItem>
    <TabBarItem [title]="'Koubei'" [key]="2" [badge]="'new'" [icon]="icon2" [selectedIcon]="icon22">
        <ng-template #icon2>
            <div style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template #icon22>
            <div style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <div style="background-color: white; height: 100%; text-align: center">
            <ng-container>
                <ng-template [ngTemplateOutlet]="tabContent"></ng-template>
            </ng-container>
        </div>
    </TabBarItem>
    <TabBarItem [title]="'Friend'" [key]="3" [dot]="true" [icon]="icon3" [selectedIcon]="icon33">
        <ng-template #icon3>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/psUFoAMjkCcjqtUCNPxB.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template #icon33>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/IIRLrXXrFAhXVdhMWgUI.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <div style="background-color: white; height: 100%; text-align: center">
            <ng-container>
                <ng-template [ngTemplateOutlet]="tabContent"></ng-template>
            </ng-container>
        </div>
    </TabBarItem>
    <TabBarItem [title]="'My'" [key]="4" [icon]="icon4" [selectedIcon]="icon44">
        <ng-template #icon4>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/asJMfBrNqpMMlVpeInPQ.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template #icon44>
            <div style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/gjpzzcrPMkhfEqgbYvmN.svg') center center / 21px 21px no-repeat;"></div>
        </ng-template>
        <ng-template [ngTemplateOutlet]="my"></ng-template>
    </TabBarItem>
</TabBar>
<ng-template #my>
    <app-tab-my></app-tab-my>
</ng-template>
<ng-template #feed>
    <app-tab-feed></app-tab-feed>
</ng-template>
<ng-template #tabContent>
    <router-outlet></router-outlet>
</ng-template> -->
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="feed">
            <ion-icon name="alarm"></ion-icon>
            <ion-label>喂养</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="vedio">
            <ion-icon name="play-circle"></ion-icon>
            <ion-label>视频</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="my">
            <ion-icon name="body"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>